body {
  background: #fefefe;
}

.nav-link.active {
  color: #f44336 !important;
}

.navbar-nav a {
  position: relative;
}

.navbar-nav a:before {
  position: absolute;
  left: 100%;
  top: 50%;
  width: 1px;
  height: 15px;
  background: #0000001c;
  content: '';
  transform: translateY(-50%);
}

.navbar-nav a:last-child::before {
  display: none;
}
